@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-snap-type: y mandatory;
}

.sections{
  scroll-snap-align: start;
}


@media (min-width: 889px) {
  .dataDisplay {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
         .dataDisplay {
           grid-template-columns: repeat(2, 1fr); 

         }
       }

@media (min-width: 1224px) {
  .swiper {
    width: 100% !important; /* Applying !important to override conflicting styles */
    height: 600px !important;
  }
  
.dataDisplay {
         grid-template-columns: repeat(3, 1fr);     
}
}

.blackButton{
    background: rgba(0, 0, 0, 0.7);
}

.whiteButton{
  background: rgba(255, 255, 255, 0.7);
}

.navbar{
  background: rgba(0, 0, 0, 0.9);
}


.bg{
  background-image:linear-gradient(to right bottom,#0d1623, #0e1e38, #16244d, #262961, #573eab);
}

.bg2{
  background-image:linear-gradient(to right top,#0d1623, #0e1e38, #16244d, #262961, #573eab);
}

/* Dropdown menu */
.dropdown{
  animation: rotateMenu 500ms ease-in-out forwards;
  transform-origin: top center;
}
  
@keyframes rotateMenu {
  0% {
      transform: rotateX(-90deg)
  }
  70% {
      transform: rotateX(20deg) 
  }
  100% {
      transform: rotateX(0deg) 
  }
}


.swiper {
  width: 100%;
  height: 100%;
}


.swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Buttons resizing */
@media(min-width: 250px){
  .buttons{
     width: 200px;
  }
}

@media(min-width: 300px){
  .buttons{
     width: 270px;
  }
}

@media(min-width: 350px){
  .buttons{
     width: 300px;
  }
}

@media(min-width: 400px){
  .buttons{
     width: 320px;
  }
}

@media(min-width: 500px){
  .buttons{
     width: 420px;
  }
}

@media(min-width: 750px){
  .buttons{
     width: 500px;
  }
}

/* ScrollBar */
::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: #2e1d53;
}
::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: content-box;
}

.menu{
  animation: rotateMenu 500ms ease-in-out forwards;
  transform-origin: top center;
}
  
